.heading h1 {
    color: white;
    font-size: 55px;
}

.heading p, .heading span {
    color: rgb(170, 169, 169);
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.heading .btn {
    background-color: rgb(6, 2, 8);
    border: none;
    color: white;
}

.customise-button {
    padding: 10px 100px 10px 100px !important;
}

.text {
    margin: 2rem 0 3rem 0;
}

.text h1 {
    font-size: 4.3rem;
}

.text p {
    font-size: 1.5rem;
}

#changing-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(90, 33, 197);
    margin: 0 0 2rem 0;
    text-decoration: underline;
}

#animated-text-first {
    font-size: 1.5rem;
    color: white;
}

.animated-text {
    margin: 0 0 1.5rem 0;
}

.examples {
    margin-top: 3rem;
}

.examples img {
    width: 35%;
    height: 15%;
    opacity: 0.9;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
}

.examples h1 {
    font-size: 2rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@media screen and (max-width: 767px) {
    .heading h1 {
        font-size: 30px;
    }

    .heading p {
        font-size: 16px;
    }

    .heading .btn {
        font-size: 14px;
        padding: 10px 20px;
    }

    .col-md-4 {
        width: 100%; 
        margin-bottom: 2rem; 
    }

    .card-title {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .heading h1 {
        font-size: 40px;
    }

    .heading p {
        font-size: 18px;
    }

    .col-md-4 {
        width: 33.33%; 
    }
}
