{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/index.css">
<div class="heading" style="margin: 8rem 0 3rem 0; text-align: center;">
<div class="text">
    <h1>Create custom invoices</h1>
    <h1>quickly & effortlessly</h1>
    <p>Several fully customisable invoice templates</p>
    <p>to choose from, tailored to your needs!</p>
</div>

<div class="animated-text">
    <span id="animated-text-first">Invoices that are </span><span id="changing-text">highly customisable</span>
</div>
<script src="/static/script.js"></script>

<a href="/customise" class="btn btn-primary btn-lg customise-button">Customise now</a>

<div class="examples">
    <h1>Template examples</h1>
    <img src="/static/images/template-examples.png" alt="" srcset="">
</div>
</div>
{% endblock %}
